body {
  color: #333;
  font-size: 16px;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
}
.hero-sub .h2{
  margin-bottom: 0;
}
p {
  margin: 0;
}
.row {
  margin:0;
}
.header {
  height: 75px;
  background-color: #000;
  font-weight: bold;
}
.footer {
  height: 75px;
  background-color: #000;
}
.nav > li > a {
  color:#fff;
}
.nav > li > a:hover {
  background-color: #000;
  color:#78A300;
}
.main_theme {
  height: 575px;
  background-image: url('/images/apm_hero_poster.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #000;
}
.sub-title {
  font-weight: bold;
}
.list-unstyled > li {
  line-height: 1.5em;
  margin-bottom:20px;
}
.detail-link {
  font-size: 14px;
  font-style: italic;
}
.detail-arrow {
  font-size: 12px;
}
.detail-title {
  font-size:36px;
  line-height:1.2em;
}
.detail-sub-title {
  font-size:18px;
  margin-top: 12px;
}
.doc-section {
  position:relative;
  background-image: url('/images/bg-insights-incl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #000;
}
.features-tbl {
  width:550px;
  border:5px solid #ddd;
}
.features-tbl th {
  font-size: 20px;
  padding: 20px;
}
.features-tbl tr {
  border-bottom:1px solid #ddd;
}
.features-tbl td {
  font-size: 14px;
  padding: 10px 20px;
}
.features-tbl th:nth-child(1), .features-tbl td:nth-child(1) {
  background-color:#eee;
  border-right: 1px solid #ddd;
}
.features-tbl th:nth-child(2), .features-tbl td:nth-child(2) {
  text-align: center;
}
.hero-sub+.hairline+.section,
.hero-sub+.section{
  padding-top: 40px;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section .hero-sub {
  padding-top: 28px;
  padding-bottom:  28px;
}
.intro{
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.555555556;
}
a:hover, a:focus {
    color: #008c99;
    text-decoration: none;
}

a {
    color: #0ab0bf;
    font-weight: inherit;
    text-decoration: none;
}
ul {
  margin-top: 0;
  margin-bottom: 13px;
}

#features nav ul.nav-side li {
    font-weight: 700;
    margin: 0 0 15px 0;
}

#features nav ul.nav-side li a {
    display: block;
    padding-left: 12px;
    color: #2c2c2c;
    border-left: 5px solid #fff;
}
@media (min-width: 768px) {
  .intro{
    font-size: 18px;
  }
  hr.hairline {
    width: 690px;
  }
  #features nav {
    padding-bottom: 70px;
    padding-left: 0;
    padding-right: 0;
  }

  nav ul.nav-side {
    width: 158px;
}
}
@media (min-width: 992px) {
  hr.hairline {
    width: 910px;
  }
   nav ul.nav-side {
    width: 213px;
}
}
@media (min-width: 1200px) {
  hr.hairline {
    width: 1110px;
  }
  nav ul.nav-side {
    width: 263px;
}
}
hr.hairline {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px rgba(127, 127, 127, 0.25);
}
