<section class="section hero-sub">
  <div class="container">
    <header>
      <h1 class="h2">시스템 아키텍쳐</h1>
    </header>
  </div>
</section>

<hr class="hairline">

<section class="section" id="features">
  <div class="container">
    <div class="row">

      <section class="first" id="e2e-platform">
      <div class="content">
        <h2 class="tagline">e2eMon은 어떻게  동작하나요?</h2>
        <p>
          소셜 네트워크, 장비에서 발생한 데이터, 로그파일, 클릭 흐름, 네트워크, IP Detail Record(IPDR)와 같은 실시간 스트리밍 데이터 자원에는 거대한 잠재력이 있습니다.
          이는 기업의 관점에서 자사의 모든 데이터를 투입하여 새로운 인사이트를 얻음과 동시에, 빠른 속도의 의사 결정을 돕도록 하는 경쟁력 있는 기회를 제공합니다.

  		e2eMon는 지속적으로 흘러가는 방대한 양의 데이터를 처리하도록 설계되었습니다.
  		높은 퍼포먼스의 스트림 프로세싱 엔진은 실시간으로 데이터를 질의, 필터, 연관, 통합하고 분석하여,
  		예외 상황, 패턴, 트렌드를 발견하여 실시간으로 대시보드를 사이트에 꼭 맞게 개발 가능하도록 도와줍니다.
        </p>
        <div class="product-diagram" style="height: 450px; text-align: center"><img src="images/architecture.png" alt="e2eMon"></div>
      </div>

    </section>

    <section class="has-separator" id="druid">
      <div class="content">
          <h3>e2eMon 실시간 플랫폼</h3>
          <p>
          	<ul style="list-style: initial">
          		<li>동시에 여러개의 실시간 응용 프로그램 실행 지원</li>
          		<li>Kafka 또는 RabbitMQ를 통해 코드 수정없이 데이터를 입/출력</li>
          		<li>실시간으로 유입되는 메세지에 대한 파싱, 처리, 경보</li>
          		<li>실시간으로 인덱싱 저장소인 Elasticsearch 와 NoSQL DB(i.e. HBase, Cassandra)와 Relational DB에 데이터 기록</li>
          		<li>지속적으로 유입되는 실시간 메세지를 동적 Continuous Query 기반의 스크립트로 처리 가능</li>
          		<li>Kafka, WebSocket, 또는 다른 서비스 등으로 퍼블리싱하는 써드 파티 어플리케이션과의 통합 가능</li>
          	</ul>
          </p>

        </div>
    </section>

    </div>
  <div id="copy-btm"></div>
  </div>
</section>
