<section class="section hero-sub">
  <div class="container">
    <header>
      <h1 class="h2">시스템 아키텍쳐</h1>
    </header>
  </div>
</section>

<hr class="hairline">

<section class="section" id="features">
  <div class="container">
    <div class="row">

      <section class="first" id="e2e-platform">
      <div class="content">
        <h2 class="tagline">e2eMon은 어떻게  동작하나요?</h2>
        <p>
          e2eMon은 모니터링 대상 시스템에서 추적에 필요한 정보를 수집 후 해당 정보를 처리하여 운영자가 사용하는 프로그램에  Display 해 줍니다.
          그렇기 때문에 e2eMon은 다양한 대시보드 뷰, 실제 사용자 모니터링 및 실시간 토폴로지 뷰 기능을 통해 애플리케이션에 대한 통합 성능 모니터링이 가능하고, 시스템 자원, 애플리케이션 운용 및 장애 발생 운용에 대한 통계 데이터를 바탕으로, IT 서비스 운영 비용을 절감 할 수 있으며,
          지속적인 시스템의 성능 모니터링으로 발생할 가능성이 있는 위험을 예측하고 미연에 방지할 수 있습니다.
        </p>
        <a href="images/system_architecture.png" class="product-diagram" style="height: 450px; text-align: center" fancyboxable="e2eMon">
          <img src="images/system_architecture.png" alt="e2eMon">
        </a>
      </div>

    </section>

    <section class="has-separator" id="druid">
      <div class="content">
          <h3>e2eMon 실시간 플랫폼</h3>
          <p>
          	<ul style="list-style: initial">
          		<li>Diagram 형태로 서버들 간의 Inbound/Outbound를 출력</li>
          		<li>Transaction 단위의 통계 정보를 출력</li>
          		<li>검색조건에 맞는 Transaction을 리스트 형태로 출력</li>
          		<li>해당 Transaction의 상세 내용을 출력</li>
          		<li>Kafka Flow 정보 설정 가능</li>
          		<li>경고 알림을 위한 기준 정보 및 연락처 설정 가능</li>
          	</ul>
          </p>

        </div>
    </section>

    </div>
  <div id="copy-btm"></div>
  </div>
</section>
