<section class="section hero-sub">
  <div class="container">
    <header>
      <h1 class="h2">시스템 아키텍쳐</h1>
    </header>
  </div>
</section>

<hr class="hairline">

<section class="section" id="features">
  <div class="container">
    <div class="row">

      <section class="first" id="e2e-platform">
        <div class="content">
          <div class="col-xs-12  col-sm-12 col-md-12">
            <h2 class="tagline">e2eMon은 어떻게  동작하나요?</h2>
            <p style="margin:20px 0;">
              e2eMon의 동작은 크게 4단계로 나눌 수 있습니다.<br />
              <ul style="list-style: initial">
                <li><a href="#/architecture#1st-step" class="scroll"><b>기초로그 수집</b></a> - 모니터링 대상 시스템에서 추적에 필요한 기초 로그 정보를 수집</li>
                <li><a href="#/architecture#2nd-step" class="scroll"><b>기초로그 저장</b></a> - 수집된 기초 로그 정보를 1차 저장</li>
                <li><a href="#/architecture#3rd-step" class="scroll"><b>Tx Log추출 &amp; 저장</b></a> - 1차 저장된 정보를 분류, 재가공하여 Transaction Log의 형태로 2차 저장</li>
                <li><a href="#/architecture#4th-step" class="scroll"><b>Contents Display</b></a> - 저장된 정보를 가져와 Web Client로 Display</li>
              </ul>
            </p>
          </div>
          <div class="col-xs-12  col-sm-12 col-md-12" style="margin:50px 0;">
            <a href="images/system-architecture.png" class="product-diagram" style="width: 100%; text-align: center" fancyboxable="e2eMon">
              <img src="images/system-architecture.png" alt="e2eMon System Architecture" style="width:100%;">
            </a>
        </div>
        </div>
      </section>
    </div>
  </div>
  <div class="row" id="1st-step"></div>
</section>

<section>
  <div style="background-color:#169; color:#fff;">
    <div class="container">
      <div class="architecture-detail row">
        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-right:30px;">
          <h3>1. 기초로그 수집</h3>
          <ul style="list-style: initial">
            <li>TxLogger(Bytecode Instrumentation + Library)를 이용해 Tracking Log를 File에 기록</li>
            <li>Log Stash를 이용해 Log File에 적히는 Tracking Log를 실시간으로 수집 &amp; Message Queue에 전송</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="images/system-architecture-sub1.png" class="archi-fancy-image" style="width:100%;" fancyboxable="sys-archi-sub1">
            <img alt="sys-archi-sub1" class="archi-img-responsive image-border1" src="images/system-architecture-sub1.png" style="width:100%;">
          </a>
          <div class="row" id="2nd-step"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row" style="height:0;">
  <div class="container arrow-container">
    <p class="glyphicon glyphicon-menu-down architecture-arrow1" aria-hidden="true"></p>
    <p class="glyphicon glyphicon-menu-down architecture-arrow2" aria-hidden="true"></p>
  </div>
</div>

<section>
  <div style="background-color:#fff;">
    <div class="container">
      <div class="architecture-detail row">
        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-right:30px;">
          <a href="images/system-architecture-sub2.png" class="archi-fancy-image" fancyboxable="sys-archi-sub1">
            <img alt="sys-archi-sub1" class="archi-img-responsive image-border2" src="images/system-architecture-sub2.png">
          </a>
          <div class="row" id="3rd-step"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h3>2. 기초로그 저장</h3>
          <ul style="list-style: initial">
            <li>Consumer가 Message Queue에 있는 Log들을 가져와 Search Engine (Elastic)에 저장</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row" style="height:0;">
  <div class="container arrow-container">
    <p class="glyphicon glyphicon-menu-down architecture-arrow1" aria-hidden="true"></p>
    <p class="glyphicon glyphicon-menu-down architecture-arrow2" aria-hidden="true"></p>
  </div>
</div>

<section>
  <div style="background-color:#169; color:#fff">
    <div class="container">
      <div class="architecture-detail row">
        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-right:30px;">
          <h3>3. Tx Log추출 &amp; 저장</h3>
          <ul style="list-style: initial">
            <li>Elastic에 저장된 기초 Log를 가져와 Tx Log로 정제 후 다시  Search Engine (Elastic)에 저장</li>
            <li>에러 경보 프로세스 실행</li>
            <li>Tx Log통계 연산 후 RDB (PostgreSQL)에 저장</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <a href="images/system-architecture-sub3.png" class="archi-fancy-image" fancyboxable="sys-archi-sub1">
            <img alt="sys-archi-sub1" class="archi-img-responsive image-border1" src="images/system-architecture-sub3.png">
          </a>
          <div class="row" id="4th-step"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row" style="height:0;">
  <div class="container arrow-container">
    <p class="glyphicon glyphicon-menu-down architecture-arrow1" aria-hidden="true"></p>
    <p class="glyphicon glyphicon-menu-down architecture-arrow2" aria-hidden="true"></p>
  </div>
</div>

<section>
  <div style="background-color:#fff;">
    <div class="container">
      <div class="architecture-detail row">
        <div class="col-xs-12 col-sm-12 col-md-6" style="padding-right:30px;">
          <a href="images/system-architecture-sub4.png" class="archi-fancy-image" fancyboxable="sys-archi-sub1">
            <img alt="sys-archi-sub1" class="archi-img-responsive image-border2" src="images/system-architecture-sub4.png">
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h3>4. Contents Display</h3>
          <ul style="list-style: initial">
            <li>Search Engin과 RDB에 저장된 정보를 API Server를 통해 가져와 Web Client에 Display</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
