<section class="section hero-sub" id="contact-top">
  <div class="container">
    <h1 class="tagline">Contact</h1>
    <p>
      e2eMon에 대해 더 자세히 알고 싶으시다면, 하단의 양식을 통해 저희에게 연락주세요.
    </p>
  </div>
</section>

<section class="has-separator">
  <div class="container">

    <h1 class="tagline"></h1>
    <div>
    		<img src="images/map.jpg" style="width: 100%;">
		</div>
    <div class="contact-infoBody">
      <div>
        embian@embian.com<br />
        서울시 강남구 수서동 현대벤쳐빌 1517호<br />
        Tel : 02-2040-6788<br />
        Fax : 02-2040-6787<br />
      </div>
    </div>
	</div>

</section>

<section class="section hero-sub" style="margin-top:30px;">
  <div class="container" style="border-top:8px double #efefef">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" style="margin-top:3px;margin-bottom:3px;">
      <h2 class="tagline">Contact Us</h2>
    </div>

    <form accept-charset="UTF-8" action="mailto:embian@embian.com" method="POST">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" style="margin-top:3px;margin-bottom:3px;">
        <input class="form-control" name="name" type="text" placeholder="이름" required="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" style="margin-top:3px;margin-bottom:3px;">
        <input class="form-control" name="email" type="email" placeholder="이메일 주소" required="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" style="margin-top:3px;margin-bottom:3px;">
        <textarea class="form-control" name="message" type="text" placeholder="내용을 작성해주세요" rows="10"></textarea>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" style="margin-top:3px;margin-bottom:3px;">
        <input type="submit" value="Contact Us" class="btn btn-warning">
      </div>
    </form>
  </div>
</section>
