<section class="section hero-sub" id="doc-top">
  <div class="container">
    <header>
        <h1 class="h2">Documents</h1>
    </header>
  </div>
</section>

<hr class="hairline">

<section class="section" id="features">
    <div class="container">
      <div class="library-list">
        <div class="library-item">
          <h3>e2eMon 문서</h3>
          <ul>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>설계 시퀀스 다이어그램 </label><a href="/doc/E2E관제시스템-DS-D243-설계시퀀스다이어그램-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>시스템 아키텍처 정의서 </label><a href="/doc/E2E관제시스템-AD-D211-시스템아키텍처정의서-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>물리 ERD </label><a href="/doc/E2E관제시스템-DS-D249-물리 ERD-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>테이블 정의서</label><a href="/doc/E2E관제시스템-DS-D250-테이블정의서-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>시스템 인터페이스 정의서 </label><a href="/doc/E2E관제시스템-DS-D246-시스템인터페이스정의서-v3.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>유스케이스 명세서_01 </label><a href="/doc/E2E관제시스템-RE-D225-유스케이스명세서_EM-UC01-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-html.svg" alt="pdf16" width="16" height="16">
              <label>유스케이스 명세서_02</label><a href="/doc/E2E관제시스템-RE-D225-유스케이스명세서_EM-UC02-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-html.svg" alt="pdf16" width="16" height="16">
              <label>유스케이스 명세서_03</label><a href="/doc/E2E관제시스템-RE-D225-유스케이스명세서_EM-UC03-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-html.svg" alt="pdf16" width="16" height="16">
              <label>프로그램 목록</label><a href="/doc/E2E관제시스템-DS-D245-프로그램목록-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-html.svg" alt="pdf16" width="16" height="16">
              <label>SW 라이선스 목록</label><a href="/doc/E2E관제시스템-DE-D252-SW라이선스목록-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="library-list">
        <div class="library-item library-item2">
          <h3>백서</h3>
          <ul>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>테스트 계획서</label><a href="/doc/E2E관제시스템-TE-D261-테스트계획서-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>테스트 시나리오</label><a href="/doc/E2E관제시스템-TE-D263-테스트시나리오-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>운영자 매뉴얼 </label><a href="/doc/E2E관제시스템-TR-D272-운영자매뉴얼-v2.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
          </ul>
        </div>
        <div class="library-item library-item2">
          <h3>백서</h3>
          <ul>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>테스트 계획서</label><a href="/doc/E2E관제시스템-TE-D261-테스트계획서-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>테스트 시나리오</label><a href="/doc/E2E관제시스템-TE-D263-테스트시나리오-v1.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
            <li><img class="alignnone size-full wp-image-1530" src="images/document-file-pdf.svg" alt="pdf16" width="16" height="16">
              <label>운영자 매뉴얼 </label><a href="/doc/E2E관제시스템-TR-D272-운영자매뉴얼-v2.0.pdf" target="_blank">[<span class="caps">PDF</span>]</a>
            </li>
          </ul>
        </div>
      </div>
      <p class="contents3">제안자료나 비교자료는 <a href="mailto:embian@embian.com">embian@embian.com</a>으로 요청하시기 바랍니다.</p>
      <p class="contents3">e2e Mon 매뉴얼의 경우 제품에 포함되어 있으며, 추가적으로 PDF 문서가 필요할 경우 <a href="mailto:embian@embian.com">embian@embian.com</a>으로 요청하시기 바랍니다.</p>

      <div style="padding-bottom: 70px"></div>
    </div>
</section>
